*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Arimo', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 97%;
}

a{
    text-decoration: none;
    color:black
}

/* DEFAULTS */
ion-icon{
    font-size: 130%;
    cursor: pointer;
}

.btn{
    font-weight: 700;
    font-size: 85%;
    color: white;
    background: #1E9BF0;
    border-radius: 58px;
    transition: ease-out 0.1s;
}

.btn:hover{
    background: #1b97e9;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/******************
*     LAYOUT      *
******************/
.twitter{display:flex;}

.nav-section{flex: 2.1;}

.timeline-section{
    flex: 4;
    border-right: 1px solid #efededbd;
    border-left: 1px solid #efededbd;
}

.trends-follow-section{flex: 2.8;}

/******************
*   NAVIGATION    *
******************/
.nav-box{
    position: sticky;
    top: 0%;
    height: 100vh;
    margin-left: 50px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.main-nav-box{
    padding-top: 5px;
}

.main-nav-box a{
    font-size: 133%;
    
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.main-nav a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 150px;
    transition: ease-out 0.1s;
}
.main-nav a:hover{
    background: #E6E7E7;
}


/* NAV-SECTION BUTTON */
.navtweetbtn{
    margin-top:7px;
    padding: 18px 90px;
    box-shadow: -1px 10px 18px #c4c0c050;
}

/* NAV-SECTION ICONS */
.main-nav-box ion-icon{margin-right: 20px;}

.main-nav-box ion-icon[name="logo-twitter"]{
    font-size: 150%;
    border: 1px solid transparent;
    padding: 10px 12px;
    border-radius: 50%;
    color:#1E9BF0;
}

.main-nav-box ion-icon[name="logo-twitter"]:hover{
        background: #e0ecf8b7;
}

/* NAV-SECTION USER-ACCOUNT */
.nav-user-account {
    display: flex;
    gap: 7%;
    margin-bottom: 10px;
    border: 1px solid transparent;
    padding: 10px 12px;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.nav-user-account .profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 150px;
}
.nav-user-account:hover{background: #E6E7E7;}

.user-details ion-icon{
    position: absolute;
    top: 22%;
    right: 5%;
    font-size: 110%;
}

/******************
*     TIMELINE    *
******************/
.timeline-header{ 
    position: sticky;
    top: 0%;
    padding: 12px 20px;
    border-bottom: 1px solid rgb(226, 226, 226);
    background:white;
    z-index: 9999;
}

.mobile-tweet-icon{
    display: none;
    position:relative;
    background-color:#1b97e9;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 2px 1px 4px #1b97e965;
}

.mobile-tweet-icon ion-icon{
    font-size: 210%;
    position:absolute;
    top: 25%;
    left: 25%;
    color:white;
}
.mobile-tweet-icon ion-icon[name="add-outline"]{
    font-size: 110%;
}

.mobile-timeline-nav{
    display: none;
}


/**TWEET-BOX**/
.tweet-box{
    display: flex;
    border-bottom: 1px solid #e2e2e2;
    gap: 8px;
    padding: 10px 20px;
    position: relative;
}

.tweet-box:hover{
    background: #F7F7F7;
    cursor: pointer;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

.handle p{color: #536471;}

.handle a:hover{
    text-decoration: underline;
}

.tweetbox p{
    flex-grow: 2;
    padding-bottom: 3px;
    margin: 0px;
    color: #423e3e;
}

.dot{font-size: 8px;}

strong{color:black}

.details-box{width: 100%;}

.tweet{padding-bottom:5px}

/* TIMELINE TWEETBOX-ICONS */
.timeline-icons{
    display: flex;
    gap: 20%;
    /* justify-content: space-between; */
}


.timeline-icons ion-icon{
    color:rgb(88, 83, 83);
    border: 8px solid transparent;
    border-radius: 50%;
}


 .timeline-icons ion-icon[name="ellipsis-horizontal"]{
    position: absolute;
    top: 3px;
    right: 2%;
    font-size: 97%;
}


.timeline-icons ion-icon[name="ellipsis-horizontal"]:hover,
ion-icon[name="chatbox-outline"]:hover,
ion-icon[name="share-social-outline"]:hover{
    background: #e0ecf8b7;
    color:#1E9BF0;
}


ion-icon[name="heart-outline"]:hover{
    background: #FBDBEB;
    color:#F45D9D;
}

ion-icon[name="repeat-outline"]:hover{
    background: #DBF4EB;
    color:#55D494;
}


/***USER-INPUT TWEETBOX, ICONS AND BUTTON***/
.user-input:hover{
    background: none;
    cursor: auto
}

textarea{
    margin-top: 10px;
    border: none;
    width:100%;
    height:30px;
    font-family: inherit;
    font-size: 135%;
    resize: none;
}

.iconsandbtn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.iconsandbtn-box ion-icon{
    border: 8px solid transparent;
    border-radius: 50%;
    color: #1d9bf0;
}

.iconsandbtn-box ion-icon:hover{background: #00acee1a;}

.tweetbtn{padding: 10px 20px;}

textarea:focus{outline: none}


/* QUOTED TWEET */
.quote-img{padding-top: 5px;}

.quote-img .tweeted-photo{
    border-radius: 10px;
    width:100%;
    height: 300px;
}


/* QUOTED TWEET BOX */
.quoted-tweet-section{
    margin-top: 2px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    padding: 10px;
}

.quoted-tweet-section:hover{
    background: rgba(31, 29, 29, 0.048);
    cursor: pointer;
}

.quoted-tweet-box{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.quoted-tweet-img{
    width: 22px;
    height: 22px;
    border-radius: 150px;
}

/******************
* TRENDS SECTION  *
******************/
.trends-follow-container{
    display:flex;
    flex-direction: column;
    padding: 0px 25px;
    padding-right: 50px;
    gap: 18px;
}


/*** SEARCH BOX ***/
.search{
    position: sticky;
    top: 0%;
    z-index: 999;
    background: white;
    padding: 5px 3px;
}

.search-box{
    background: #EFF3F4;
    display: flex;
    padding:10px 12px;
    border: 1px solid transparent;
    border-radius: 30px;
    gap: 15px;
}

.search-box ion-icon[name="search-outline"]{
    padding-left: 5px;
    font-size: 135%;
}
.search-box-highlight{
    border: 1px solid #1d9bf0;
    
}
.search-box-highlight ion-icon[name="search-outline"]
{
    cursor: auto;
    color: #1d9bf0;
}

input[placeholder]{
    flex: 1;
    color:none;
    background: none;
    border: none;
    font-size: 100%
}

input:focus{outline:#1b97e9}

ion-icon[name="search-outline"]
{
    cursor: auto;
    color: #667681;
}

/*** TRENDING TOPICS BOX ***/
.trends-box, .who-to-follow-box{
    border-radius: 12px;
    background: #F7F9F9;
}

.trend-topics p{font-size:80%;}

.trend-topics h4{padding: 5px 0px;}

.box-heading{
    display:flex;
    justify-content: space-between;
    padding: 10px 14px;
  
}
.box-heading h3{
    flex-grow: 1;
    font-size: 140%;
}

.topic, .show-more-trends, .user-profile{padding:14px 14px}

.topic:hover{
    background: #F7F7F7;
    cursor: pointer;
}

.topic ion-icon[name="ellipsis-horizontal"]{
    float:right;
    font-size: 97%;
    color:rgb(88, 83, 83);
    border: 8px solid transparent;
    border-radius: 50%;
}

.topic ion-icon[name="ellipsis-horizontal"]:hover{
    background: #e0ecf8b7;
    color:#1E9BF0;
}

.show-more-trends p, .show-more-follows{
    color:#1E9BF0;
    font-size: 110%;
    border-radius: 0px 0px 10px 10px
}

.show-more-trends:hover,
.show-more-follows:hover{
    background: #F7F7F7;
    cursor: pointer;
}

.extra-topics{display:none}

.extra-topics.show{display:block}

/*** WHO-TO-FOLLOW BOX ***/
.user-profile{
    padding: 10px;
    display:flex;
    gap: 10px;
}

.user-profile:hover{
    background: #F7F7F7;
    cursor: pointer;
}
.extra-details{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-self: center;
    justify-content: space-between;
}

.follow-btn{
    font-weight: 600;
    color: white;
    background: black;
    border-radius: 28px;
    padding: 8px 20px;
}
.user-profile p a:hover{text-decoration: underline;}

.show-more-follows{padding:14px 14px;}

.extra-follows{display:none;}

.extra-follows.show{display:flex;}

footer{
    color: #536471;
    font-size: 88%;
}

/* MEDIA-QUERIES */
@media (min-width: 320px) and (max-width:499px){

    /*******  LAYOUT  ******/
    .nav-section{display:none;}

    .trends-follow-section{display:none;}

    /* TIMELINE */
    .user-input{display:none;}

    .timeline-header h2{font-size:120%}

    .mobile-tweet-icon{
        position:fixed;
        bottom: 13%;
        left: 77%;
        z-index: 2;
        display: block;
    }

    .mobile-timeline-nav{
        display: block;
        border-top: 1px solid rgb(226, 226, 226);
        background:white;
        z-index: 9999;
        position: fixed;
        bottom:0%;
        width: 100%;
    }
    .mobile-timeline-nav .main-nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        font-size: 130%;
    }

    /* TIMELINE TWEETBOX-ICONS */
    .timeline-icons{
        gap: 0%;
        justify-content:space-between;
    }

    .timeline-icons ion-icon{font-size: 120%;}

    
    
}