*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-family: 'Arimo', sans-serif; */
    /* word-spacing: 1px; */
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    /* height: 100%; */
    /* font-size: 14px; */
}

a{
    text-decoration: none;
    color:black
}

/* LAYOUT */
.twitter{
    display:flex;
}

.nav-container{
    flex: 2;
    position: sticky;
    top: 0%;
}

.timeline{
    flex: 4;
    border-right: 1px solid rgba(239, 237, 237, 0.74);
    border-left: 1px solid rgba(239, 237, 237, 0.74);
}

.trends{
    flex: 2.8; 
    /* display: none; */
}


/* TWEETBOX */

.tweet-box{
    display: flex;
    border-bottom: 1px solid rgb(226, 226, 226);
    gap: 8px;
    padding: 10px 20px;
    /* background: rgb(149, 189, 235) */
}

.tweet-box:hover{
    background: rgba(31, 29, 29, 0.048);
    cursor: pointer;
}

.header{ 
    position: sticky;
    top: 0%;
    padding-top: 15px;
    background:white;
    z-index: 9999;
}

.header:hover{
    background: none;
}

.profile-pic{
    width: 46px;
    height: 46px;
    border-radius: 150px;
}

.handle{
    /* background: blue; */
    display:flex;
    /* gap: 160px; */
    justify-content: space-between;
}

.handle a:hover{
    text-decoration: underline;
}

p{
    flex-grow: 2;
    padding-bottom: 3px;
    margin: 0px;
    color: rgb(66, 62, 62);
}

.dot{
    font-size: 8px;
}

strong{
    color:black
}

.details-box{
    /* background-color: pink; */
    width: 100%

}

.icons{
    display: flex;
    gap: 20%;
    padding-top: 8px;
}

ion-icon{
    color:rgb(88, 83, 83);
    font-size: 20px;
    cursor: pointer;
}

/******************
*  INPUT TWEETBOX *
******************/
.user-input:hover{
    background: none;
    cursor: auto
}

textarea{
    margin-top: 10px;
    /* padding:0px; */
    border: none;
    width:100%;
    height:30px;
    font-family: inherit;
    font-size: 135%;
    resize: none;
}

textarea:focus{outline: none}


/* QUOTED TWEET */

.quote-img{
    /* margin: 0px; */
    padding-top: 5px;
}

.quote-img .tweeted-photo{
    /* display:inline-block; */
    border-radius: 10px;
    width:100%;
    height: 300px;
    /* margin-top: 4px; */
}



/* quoted tweet box */
.quoted-tweet-section{
    margin-top: 2px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    /* width: 400px; */
    padding: 10px;
}

.quoted-tweet-section:hover{
    background: rgba(31, 29, 29, 0.048);
    cursor: pointer;
}

.quoted-tweet-box{
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.quoted-tweet-img{
    width: 22px;
    height: 22px;
    border-radius: 150px;
}

