*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-family: 'Arimo', sans-serif; */
    /* word-spacing: 1px; */
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    /* height: 100%; */
    font-size: 97%;
    /* font-family: 'Roboto', sans-serif; */
}

a{
    text-decoration: none;
    color:black
}

/* DEFAULTS */
ion-icon{
    font-size: 130%;
    cursor: pointer;
}

.btn{
    color: white;
    background: rgb(29, 155, 240);
    border-radius: 58px;
}

.btn:hover{
    background: rgb(27, 151, 233);
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/******************
*     LAYOUT      *
******************/
.twitter{
    display:flex;
}

.nav-section{
    flex: 2;
    
}

.timeline{
    flex: 4;
    border-right: 1px solid rgba(239, 237, 237, 0.74);
    border-left: 1px solid rgba(239, 237, 237, 0.74);
}

.trends{
    flex: 2.8; 
    /* display: none; */
}

/******************
*   NAVIGATION    *
******************/
.nav-box{
    position: sticky;
    top: 0%;
    /* color:red; */
    margin-left: 50px;
}

.nav {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
}

.main-nav-box{
    padding-top: 17px;
}

.main-nav-box a{
    padding: 10px 12px;
    font-size: 133%;
    
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.main-nav a {
    display: flex;
    align-items: center;
    /* font-weight:600; */
    /* padding: 4px 10px; */
    border: 1px solid transparent;
    border-radius: 150px;
    /* background: red; */
    
}
.main-nav a:hover{
    background: rgba(162, 165, 168, 0.582);
}

.navtweetbtn{
    font-size: 20px;
    align-self: auto;
    margin-top:7px;
    padding: 14px 85px;
    box-shadow: 0 5px 13px #e3dede;
}

/* NAV-SECTION ICONS */
.main-nav-box ion-icon{
    margin-right: 20px;
}

.main-nav-box ion-icon[name="logo-twitter"]{
    font-size: 150%;
    border: 8px solid transparent;
    border-radius: 50%;
    color: rgb(29, 155, 240);
}

.main-nav-box ion-icon[name="logo-twitter"]:hover{
        background: rgba(0, 172, 238, 0.1);
}

/******************
*     TIMELINE    *
******************/
.timeline-header{ 
    position: sticky;
    top: 0%;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(226, 226, 226);
    background:white;
    z-index: 9999;
}

/**TWEET-BOX**/
.tweet-box{
    display: flex;
    border-bottom: 1px solid rgb(226, 226, 226);
    gap: 8px;
    padding: 10px 20px;
    /* background: rgb(149, 189, 235) */
    position: relative;
}

.tweet-box:hover{
    background: rgba(31, 29, 29, 0.048);
    cursor: pointer;
}

.profile-pic{
    width: 46px;
    height: 46px;
    border-radius: 150px;
}

.handle{
    /* background: blue; */
    /* display:flex; */
    /* gap: 160px; */
    /* justify-content: space-between; */
    
}

.handle a:hover{
    text-decoration: underline;
}

p{
    flex-grow: 2;
    padding-bottom: 3px;
    margin: 0px;
    color: rgb(66, 62, 62);
}

.dot{
    font-size: 8px;
}

strong{
    color:black
}

.details-box{
    /* background-color: pink; */
    width: 100%

}


/***INPUT TWEETBOX, ICONS AND BUTTON***/
.user-input:hover{
    background: none;
    cursor: auto
}

textarea{
    margin-top: 10px;
    /* padding:0px; */
    border: none;
    width:100%;
    height:30px;
    font-family: inherit;
    font-size: 135%;
    resize: none;
}

.iconsandbtn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* background: red; */
}
.iconsandbtn-box ion-icon{
    border: 8px solid transparent;
    border-radius: 50%;
    color: rgb(29, 155, 240);
}

.iconsandbtn-box ion-icon:hover{
    background: rgba(0, 172, 238, 0.1);
}

.tweetbtn{
    padding: 10px 20px;
}

textarea:focus{outline: none}

/* TIMELINE-ICONS */
.timeline-icons{
    display: flex;
    gap: 20%;
    margin-top: 8px;
    /* background: lightblue; */
}


.timeline-icons ion-icon{
    color:rgb(88, 83, 83);
    border: 8px solid transparent;
    border-radius: 50%;
}


 .timeline-icons ion-icon[name="ellipsis-horizontal-outline"]{
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 97%;
}


 ion-icon[name="ellipsis-horizontal-outline"]:hover,
ion-icon[name="chatbox-outline"]:hover,
ion-icon[name="share-social-outline"]:hover{
    background: rgba(0, 172, 238, 0.1);
    color:rgb(29, 155, 240);
}


ion-icon[name="heart-outline"]:hover{
    background: rgba(247, 50, 50, 0.13);
    color:#f75252
}

ion-icon[name="repeat-outline"]:hover{
    background: rgba(0, 128, 0, 0.13);
    color:#0dd30d;
}




/* QUOTED TWEET */
.quote-img{
    /* margin: 0px; */
    padding-top: 5px;
}

.quote-img .tweeted-photo{
    /* display:inline-block; */
    border-radius: 10px;
    width:100%;
    height: 300px;
    /* margin-top: 4px; */
}



/* QUOTED TWEET BOX */
.quoted-tweet-section{
    margin-top: 2px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    /* width: 400px; */
    padding: 10px;
}

.quoted-tweet-section:hover{
    background: rgba(31, 29, 29, 0.048);
    cursor: pointer;
}

.quoted-tweet-box{
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.quoted-tweet-img{
    width: 22px;
    height: 22px;
    border-radius: 150px;
}

